@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
  background-color: #2ecc71;
  font-family: 'Bangers', cursive;
  color: #12b0c9fe;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c8dd5dfe;
  text-shadow:
      -5px -5px 0 black,
      5px -5px 0 black,
      -5px 5px 0 black,
      5px 5px 0 black;
    font-size: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input{
  border-radius: 5px;
}
input:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

input.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

select{
  color: black;
}
select:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

select.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


button{
  border-radius: 5px;
  background-color: #12b0c9fe;
  border: 3px solid #c8dd5dfe;
}
button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

button.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

label{
  margin-left: 50px;
}

select{
  border-radius: 5px;
}

p{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #12b0c9fe;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #c8dd5dfe;
    text-shadow:
      -0.5px -0.5px 0 black,
      0.5px -0.5px 0 black,
      -0.5px 0.5px 0 black,
      0.5px 0.5px 0 black;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  margin-top: 50px;
}
.character:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.character.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.character {
  border: 10px solid black;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

.character img {
  width: 100%;
  border-radius: 8px;
}